/* menubar */
@media screen and (max-width: 1200px) {
  header .btn-sec a.glb-btn {
    font-size: 11px;
    padding: 6px 12px;
  }

  header nav .menu-item-has-children ul.sub-menu li a {
    padding: 0.525rem 1.05rem;
    font-size: 13px;
    line-height: 17px;
  }

  header nav ul li a {
    font-size: 0.9rem;
    line-height: 1.1875rem;
    margin-right: 0.9125rem;
  }

  header nav .menu-item-has-children>a::after {
    right: -0.325rem;
  }

  .hm-section2 .service-card .s-tx h3 {
    word-break: break-all;
  }

  .hm-section2 .col-md-3 {
    margin-bottom: 20px;
  }

  .hm-section2 .service-card {
    height: 100%;
  }
}

@media(max-width:1199px) {
  header {
    padding: 0;
  }

  header .top-header h6,
  .top-header a {
    font-size: 0.7rem;
    line-height: 1.1875rem;

  }

  header .bottom-header,
  header .bottom-header .container {
    position: relative;
  }

  header .btn-sec {
    justify-content: flex-start;
  }

  header .btn-sec a.glb-btn {
    margin-left: 1rem;
  }

  .slim-container .slim-nav ul {
    display: block;
  }

  .slim-container .slim-bar {
    background: transparent;
  }

  .slim-container a.slimNav_sk78-reveal {
    color: #fff;
    top: 1.5rem !important;
    font-size: 1.5625rem !important;
    padding: 0.5rem 0.8125rem 0.6875rem 0.8125rem;
  }

  .slimclose {
    padding-top: 1rem !important;
  }

  .slim-container .slim-nav {
    margin-top: 5.975rem;
    background: linear-gradient(95.47deg, #103669 25.08%, #09254b 106.74%);
  }

  .slim-container .slim-nav ul li a {
    padding: 0.7em 2%;
    font-size: 0.8rem;
    width: 96%;
  }


  div#navigation {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .slim-container a.slimNav_sk78-reveal span {
    color: #fff !important;
  }

  .slim-container a.slimNav_sk78-reveal span {
    background: #fff;
    margin-top: 0.3375rem;
  }

  header {
    animation: none !important;
    position: static !important;
  }

  header.sticky {
    animation: none !important;
    position: static !important;
  }

  .banner-section .bntx h2,
  .hm-section1 h2,
  .hm-section6 h2,
  h2 {
    font-size: 2.4rem;
    line-height: 2.825rem;
  }

  .banner-section .bntx a.glb-btn {
    margin-top: 1.25rem;
  }

  .hm-section1,
  .hm-section4,
  .hm-section6,
  .hm-section7,
  .hm-section8 {
    padding: 3rem 0;
  }

  footer form input[type=submit] {
    padding: 0.575rem 0.95rem;
    position: static;
    margin-top: 7px;
  }

  footer form {
    display: block;
  }

  footer ul li a {
    font-size: 0.9rem;
  }

  .hm-section4 .award-box img {
    height: 10rem;
  }

  .hm-section2 .service-card .s-tx p {
    min-height: inherit;
  }

  footer form input:not([type=submit]) {
    background: transparent;
    outline: 0rem;
    border: 0.0625rem solid #ffffff;
    font-size: 11px;
    color: #fff;
  }

  footer form input:not([type=submit]):placeholder {
    font-size: 11px;
  }
}

@media screen and (max-width: 991px) {
  header .btn-sec {
    justify-content: flex-start;
    position: absolute;
    right: 30px;
    top: 27px;
    width: 260px;
  }

  header .btn-sec a.glb-btn {
    margin: 0 5px !important;
  }

  .top-header .col-md-9,
  .top-header .col-md-3 {
    width: 50%;
  }

  .top-header .col-md-3 {
    display: flex;
    justify-content: flex-end;
  }

  .hm-section1 p {
    line-height: 1rem;
  }

  .hm-section2 .col-md-3,
  .hm-section7 .col-md-4 {
    width: 50%;
  }

  .hm-section7 .col-md-4 {
    margin-bottom: 20px;
  }

  .hm-section4 .award-box img {
    height: 5rem;
  }

  .hm-section6 .agent-card {
    background: #f2f3f5;
    border-radius: 1.25rem;
    padding: 4.7375rem 0.65rem 1.2rem;
    position: relative;
    margin-top: 6.25rem;
  }

  .hm-section6 .agent-card {
    background: #f2f3f5;
    border-radius: 1.25rem;
    padding: 2.9375rem 0.65rem 1.2rem;
    position: relative;
    margin-top: 5.05rem;
  }

  .hm-section6 .agent-card>img {
    width: 130px;
  }

  .hm-section8 h2 {
    text-align: center;
    margin-bottom: 0;
  }

  footer ul li a {
    font-size: 0.8rem;
  }

  footer form input[type=submit] {}

  footer .copy-right {
    padding: 0.15rem 0;
    margin-top: 1rem;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.2);
  }
}

/* for tab  only */
/* for tab only */
/* for tab  only */
@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 1.8rem !important;
    line-height: 2.1rem !important;
  }

  .banner a.glb-btn {
    margin-top: 0.75rem;
  }

  .banner {
    padding: 6.625rem 0 3rem;
  }

  .banner .ab-img {
    position: absolute;
    right: -0.3125rem;
    top: 0rem;
    height: 7.375rem;
  }

  .glb-btn {
    padding: 0.6rem 0.875rem;
    font-size: 0.9rem;
  }

  .hm-section1 {
    padding: 3rem 0;
  }

  .list li {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.95rem;
  }

  /* h3 {
    font-size: 1.6rem !important;
    line-height: 2rem;
  } */

  header .btn-sec a.glb-btn {
    margin-right: 1.375rem;
  }

  header {
    padding: 0;
  }

  .hm-section2 .price-card h4 {
    font-size: 1.3rem;
  }

  .hm-section2 .price-card h3 {
    line-height: 1.35rem;
    margin-bottom: 1.9rem;
  }

  .hm-section2 .row {
    justify-content: center;
  }

  .hm-section2 .price-card {
    margin-bottom: 1.875rem;
  }

  .hm-section2 h2 {
    margin-bottom: 2.75rem;
  }

  /* .hm-section2 {
    padding: 2.75rem 0;
  } */

  .hm-section3 {
    padding: 2rem 0 1.25rem;
  }

  section.hm-section4 {
    padding: 2rem 0;
  }

  section.hm-section4 ul li h3 {
    font-size: 1rem !important;
  }

  section.hm-section4 h2 {
    margin: 0 auto 0.9375rem;
  }

  footer h3 {
    font-size: 0.95rem !important;
  }

  a {
    font-size: 0.8rem;
  }

  footer h5,
  footer .container>.row>.col-lg-3 h6 {
    font-size: 0.7rem;
  }

  footer .container>.row:last-child h5 {
    font-size: 0.8rem;
    padding: 0.55rem 0;
  }

  /* footer form input[type=submit] {
    padding: 0.75rem 0.975rem;
  } */

  .hm-section1 .nth-sec {
    margin-top: 0.2375rem;
    align-items: center;
  }

  .hm-section1 p {
    font-size: 0.7rem;
  }

  .compare-plan table td {
    font-size: 0.6rem;
  }

  .compare-plan h4 {
    font-size: 0.9rem;
  }

  .compare-plan h4 {
    padding: 0.375rem 1.0625rem;
  }

  .banner {
    padding-top: 8.5rem;
  }

  /* section.hm-section1 .glb-btn {
    margin-bottom: 30px;
  } */

}



@media (max-width:767px) {

  html {
    font-size: 87%;
  }

  h2 {
    font-size: 1.45rem !important;
    line-height: 2rem;
    margin-bottom: 1.375rem;
  }

  h3 {
    font-size: 1.47rem !important;
    line-height: 2.1rem;
  }

  h4 {
    font-size: 1.125rem !important;
  }

  h5 {
    font-size: 1.125rem !important;
  }

  p,
  .list li {
    font-size: 0.9rem;
  }

  header {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 999;
  }


  .logo-sec {
    width: 5rem;
    position: relative;
    z-index: 99999999;
  }

  header nav ul li {
    padding-left: 0;
  }

  .btn-sec {
    position: absolute;
    right: 2.3125rem;
    text-align: right;
    justify-content: flex-end;
    top: 0.7rem;
    z-index: 9999999;
  }

  .banner {
    overflow: hidden;
    text-align: center;
  }

  .banner h2 {
    text-align: center;
    line-height: 2.4rem;
    max-width: 17.25rem;
  }

  .banner a.glb-btn {
    margin-top: 0.85rem;
    margin-bottom: 1rem;
  }

  .page-ban .glb-btn {
    margin-top: 0;
  }

  .banner {
    padding: 8.625rem 0 3rem;
  }

  .banner .ab-img {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    height: 5rem;
    top: -3rem;
  }

  .glb-btn {
    padding: 0.6rem 1.075rem !important;
    font-size: 0.9rem;
  }

  .hm-section1 {
    padding: 2rem 0;
  }

  .hm-section1 h2 {
    margin-bottom: 1.7rem;
  }

  .hm-section1 .nth-sec {
    margin-top: 1.8375rem;
  }

  .hm-section1 .nth-sec:nth-child(odd)>div:nth-child(2) {
    padding: 0 0.9375rem;
  }

  .hm-section1 .nth-sec>div:nth-child(2) {
    padding: 0 0.9375rem;
  }

  .hm-section2 {
    padding: 2.25rem 0 1.2rem;
  }

  .hm-section2 h2 {
    margin-bottom: 1.75rem;
  }

  .hm-section2 .price-card {
    padding: 1.25rem;
  }

  .hm-section2 .price-card h3 {
    line-height: 0.7rem;
  }

  .hm-section2 .price-card h3 {
    margin-bottom: 1.9rem;
  }

  .hm-section2 .price-card {
    min-height: auto;
    margin-bottom: 26px;
  }

  .hm-section2 .price-card a {
    padding: 0.80rem;
  }

  .hm-section3 {
    padding: 2rem 0 1.25rem;
  }

  .hm-section3 ul.ico-list li {
    width: 48%;
    margin-bottom: 30px;
  }

  .hm-section3 h2 {
    margin-bottom: 2.05rem;
  }

  section.hm-section4 {
    padding-top: 0;
  }

  section.hm-section4 ul li h3 {
    font-size: 1.025rem !important;
  }

  section.hm-section4 ul li .content p {
    font-size: 0.9rem;
  }

  section.hm-section4 h2 {
    margin: 0 auto 0.9375rem;
  }

  section.hm-section4 ul li h3 {
    font-size: 0.925rem !important;
    max-width: 90%;
  }

  section.hm-section4 ul li {
    padding: 1.0625rem 0;
  }

  section.hm-section4 ul li::after {
    top: 0.875rem;
  }

  section.hm-section4 {
    padding: 1.75rem 0;
  }

  section.hm-section4 {
    padding: 1.75rem 0;
  }

  section.hm-section4 a.glb-btn {
    margin-top: 1.5rem;
  }

  footer {
    padding: 1.3125rem 0 0;
  }

  footer h5 {
    font-size: 0.875rem !important;
  }

  footer ul li {
    font-size: 0.55rem;
  }

  footer h3 {
    font-size: 1.05rem !important;
  }

  footer .container>.row:last-child h5 {
    padding: 0.7rem 0;
  }

  section.hm-section4 {
    padding-top: 0;
  }

  .hm-section1 h2 {
    margin-bottom: 0.7rem;
  }

  .hm-section1 h3>br {
    display: none;
  }

  .hm-section1 h3 {
    margin-bottom: 0.9rem;
  }

  .hm-section1 .nth-sec:nth-child(odd)>div:nth-child(2) {
    order: 2;
  }

  .hm-section1 .nth-sec:nth-child(odd)>div:nth-child(1) {
    order: 1;
  }

  .page-ban {
    padding: 1.75rem 0;
  }

  .compare-plan {
    padding: 2rem 0;
  }

  .compare-plan h2 {
    margin-bottom: 0rem;
  }

  .compare-plan .table-sec {
    padding: 2.0625rem 0rem;
  }

  .plan-card {
    margin-bottom: 1.375rem;
  }

  .compare-plan table td {
    font-size: 0.9875rem;
    padding-bottom: 0.65rem;
    text-align: center;
    padding-bottom: 0.4875rem;

  }

  .compare-plan .plan-card tr td {
    padding-bottom: 1.0875rem;
  }

  .contact-section1 h6 {
    margin-bottom: 1rem;
  }

  .contact-section1 {
    padding: 1.75rem 0;
  }

  .contact-section1 ul.details li,
  .contact-section1 ul.details li a {
    font-size: 0.9rem;
  }

  .contact-section1 ul.details {
    margin-bottom: 0.65rem;
  }

  .contact-section1 p {
    font-size: 1.05rem;
  }

  .contact-section1 p a {
    font-size: 1rem;
  }

  .contact-section1 form {
    padding: 1.5rem;
  }

  .help-center-acc {
    padding: 2rem 0 !important;
  }

  section.hm-section4 h3 {
    font-size: 1.2rem !important;
    text-align: center;
  }

  .help-center-acc ul.accordion {
    margin-bottom: 1.75rem;
  }


  header .btn-sec {
    justify-content: flex-start;
    position: absolute;
    right: 30px;
    top: 17px;
    width: 198px;
  }

  header .btn-sec a.glb-btn {
    font-size: 8px;
    padding: 6px 12px;
    line-height: 15px;
  }
}




/* for big screen break */

@media(min-width:1025px) and (max-width:1400px) {
  html {
    font-size: 86.8%;
  }
}







/* desktop submenu */
@media (min-width: 1025px) {
  header nav .menu-item-has-children {
    position: relative;
    display: flex;
  }

  header nav .menu-item-has-children>a::after {
    content: "\f078";
    position: relative;
    top: 4%;
    font-size: 0.75rem;
    right: -0.625rem;
    font-weight: 900;
    transition: all ease 0.3s 0s;
    font-family: "Font Awesome 6 free";
  }

  header nav .menu-item-has-children>a:hover::after {
    transform-origin: center;
    top: -26% !important;
    transform: rotate(180deg);
  }

  header nav .menu-item-has-children i {
    margin-left: 0.75rem;
  }

  header nav .menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 1.9375rem;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
    left: 0;
    z-index: 5;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
    max-height: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 393px;
    padding: 5px;
  }

  header nav .menu-item-has-children ul.sub-menu li {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    opacity: 0;
    transition: all ease 0.3s;
  }

  header nav .menu-item-has-children ul.sub-menu li a {
    padding: 0.825rem 1.05rem;
    /* min-width: 16.375rem; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #145096;
    margin-right: 0;
    display: block;
    text-align: left;
    border: none;
    transition: all 0.3s ease-in-out;
  }

  header nav .menu-item-has-children ul.sub-menu li a:hover {
    /* background: #fff; */
    color: #e27b01;
  }

  header nav .menu-item-has-children:hover ul.sub-menu {
    opacity: 1;
    max-height: 31.25rem;
    visibility: visible;
    transition: all ease 0.3s;
  }

  header nav .menu-item-has-children:hover ul.sub-menu li {
    opacity: 1;
    transition: all ease 0.3s;
  }
}