@media (min-width: 1024px) and (max-width: 1100px) {
  .hm-section2 .price-card h4{
    font-size: 1.2rem;
  }
  .hm-section2 .price-card h4 span{
    padding: 0.75rem 0.7rem;
  }
  header .btn-sec a.glb-btn {
    padding: 0.75rem 0.975rem;
    margin-left: 0.175rem;
}
h3{
  font-size: 1.735rem;
}
h2,.banner h2{
  font-size: 2.4rem;
}
header a{
  font-size: 12px;
}
.hm-section2 .price-card ul.list li{
  font-size: 0.8rem;
}
}


/* for tab and ipad header only */
/* for tab ipad  header only */
/* for tab ipad  header only */
@media (min-width: 768px) and (max-width: 1023px) {
  .bottom-header {
    padding: 18px 0;
  }
  
.home-sec3 .service-card .tx-hov{
  opacity: 1 !important;
}
.home-sec3 .service-card .tx img,.home-sec3 .service-card .tx{
  height: 12.5rem;
}
.home-sec3 .service-card .tx img,.home-sec3 .service-card .tx h4{
   display: none;
}
.home-sec3 .service-card .tx-hov{
  bottom: 1.75rem;
}
.home-sec3 .service-card::before{
  content: none;
}
.home-sec3{
  padding-bottom: 0;
}
.home-sec3 .service-card .tx-hov .glb-btn {
  display: inline-block;
  position: relative;
  z-index: 9;
}
  .bottom-header .container {
    position: relative;
  }
  .recent-articles .rec-articles-list .rec-details .user-date ul{
    flex-wrap: wrap;
  }
  .recent-articles .rec-articles-list .rec-details p{
    margin-top: 0.475rem;
  }
  .recent-articles .rec-articles-list .rec-details .user-date ul li{
    margin-bottom: 0.175rem;
  }
  .bottom-header .slim-container .slim-bar {
    position: absolute;
    right: 0px;
    background: transparent;
    top: 0px;
  }

  .bottom-header .slim-container a.slimNav_sk78-reveal span {
    background: #000;
  }
  .bottom-header .slim-container a.slimNav_sk78-reveal {
    color: #000;
    right: 0 !important;
    top: 4px;
  }
  .bottom-header .slim-container .slim-nav ul {
    flex-direction: column;
  }
  .bottom-header .slim-container .slim-nav {
    margin-top: 76px;
    left: 0;
    position: fixed !important;
    background: #1d4469;
  }
  header .logo-sec {
    position: relative;
    padding: 0px 22px;
    z-index: 9999999;
  }
  header{
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 999;
  }
  .slim-container .slim-nav ul{
    display: block;
  }
  .slim-container .slim-bar{
    background: transparent;
  }
  .slim-container a.slimNav_sk78-reveal{
    color: #000;
    top: 0.7rem !important;
    font-size: 1.5625rem !important;
    padding: 0.5rem 0.8125rem 0.6875rem 0.8125rem;
  }
  .slimclose{
    padding-top: 1rem !important;
  }
  .slim-container .slim-nav{
    margin-top: 4.475rem;
    background: linear-gradient(95.47deg, #103669 25.08%, #09254b 106.74%);
  }
  .slim-container .slim-nav ul li a{
    padding: 0.7em 5%;
    font-size: 0.8rem;
  }
  
  
div#navigation {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.slim-container a.slimNav_sk78-reveal span{
  color: #000 !important;
}
.slim-container a.slimNav_sk78-reveal span{
  background: #000;
  margin-top: 0.4375rem;
}

.logo-sec{
  position: relative;
  z-index: 99999999;
}
header nav ul li{
  padding-left: 0;
}
.btn-sec {
  text-align: right;
  justify-content: flex-end;
  top: 0.7rem;
  z-index: 9999999;
}

}

/* for tab  only */
/* for tab only */
/* for tab  only */
@media (min-width: 768px) and (max-width: 991px) {
  h2{
    font-size: 1.8rem !important;
    line-height: 2.7rem !important;
  }
  .banner a.glb-btn {
    margin-top: 0.75rem;
}
.banner{
  padding: 6.625rem 0 3rem;
}
.banner .ab-img {
  position: absolute;
  right: -0.3125rem;
  top: 0rem;
  height: 7.375rem;  
}
.glb-btn{
  padding: 0.6rem 0.875rem;
  font-size: 0.9rem;
}
.hm-section1 {
  padding: 3rem 0;
}
.list li{
  font-size: 0.8rem;
}
p{
  font-size: 0.95rem;
}
h3{
  font-size: 1.6rem !important;
  line-height: 2rem;
}
header .btn-sec a.glb-btn {
  margin-right: 1.375rem;
}
header {
  padding: 0.35rem 0;
}
.hm-section2 .price-card h4{
  font-size: 1.3rem;
}
.hm-section2 .price-card h3{
  line-height: 1.35rem;
  margin-bottom: 1.9rem;
}
.hm-section2 .row{
  justify-content: center;
}
.hm-section2 .price-card{
  margin-bottom: 1.875rem;
}
.hm-section2 h2 {
  margin-bottom: 2.75rem;
}
.hm-section2{
  padding: 2.75rem 0;
}
.hm-section3 {
  padding: 2rem 0 1.25rem;
}
section.hm-section4 {
  padding: 2rem 0;
}
section.hm-section4 ul li h3{
  font-size: 1rem !important;
}
section.hm-section4 h2 {
  margin: 0 auto 0.9375rem;
}
footer h3{
  font-size: 0.95rem !important;
}
a{
  font-size: 0.8rem;
}
footer h5 ,footer .container > .row > .col-lg-3 h6{
  font-size: 0.7rem;
}
footer .container > .row:last-child h5 {
  font-size: 0.8rem;
  padding: 0.55rem 0;
}
footer form input[type=submit]{
  padding: 0.75rem 0.975rem;
}
.hm-section1 .nth-sec {
  margin-top: 0.2375rem;
  align-items: center;
}
.hm-section1 p{
  font-size: 0.7rem;
}
.compare-plan table td{
  font-size: 0.6rem;
}
.compare-plan h4{
  font-size: 0.9rem;
}
.compare-plan h4{
  padding: 0.375rem 1.0625rem;
}
.banner {
  padding-top: 8.5rem;
}
section.hm-section1 .glb-btn {
  margin-bottom: 30px;
}
}

@media (max-width:767px) {
  
  html{
    font-size: 87%;
  }
  h2{
    font-size: 1.45rem !important;
    line-height: 2rem;
    margin-bottom: 1.375rem;
  }
  h3{
    font-size: 1.47rem !important;
    line-height: 2.1rem;
  }
  h4{
    font-size: 1.125rem !important;
  }
  h5{
    font-size: 1.125rem !important;
  }
  p,.list li{
    font-size: 0.9rem;
  }
 
  header{
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 999;
  }
  .slim-container .slim-nav ul{
    display: block;
  }
  .slim-container .slim-bar{
    background: transparent;
  }
  .slim-container a.slimNav_sk78-reveal{
    color: #000;
    top: 0.7rem !important;
    font-size: 1.5625rem !important;
    padding: 0.5rem 0.8125rem 0.6875rem 0.8125rem;
  }
  .slimclose{
    padding-top: 1rem !important;
  }
  .slim-container .slim-nav{
    margin-top: 4.475rem;
    background: linear-gradient(95.47deg, #103669 25.08%, #09254b 106.74%);
  }
  .slim-container .slim-nav ul li a{
    padding: 0.7em 5%;
    font-size: 0.8rem;
  }
  
  
div#navigation {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.slim-container a.slimNav_sk78-reveal span{
  color: #000 !important;
}
.slim-container a.slimNav_sk78-reveal span{
  background: #000;
  margin-top: 0.4375rem;
}

.logo-sec{
  width: 5rem;
  position: relative;
  z-index: 99999999;
}
header nav ul li{
  padding-left: 0;
}
.btn-sec {
  position: absolute;
  right: 2.3125rem;
  text-align: right;
  justify-content: flex-end;
  top: 0.7rem;
  z-index: 9999999;
}
.banner{
  overflow: hidden;
  text-align: center;
}
.banner h2{
  text-align: center;
  line-height: 2.4rem;
  max-width: 17.25rem;
}
.banner a.glb-btn {
  margin-top: 0.85rem;
  margin-bottom: 1rem;
}
.page-ban .glb-btn{
  margin-top: 0;
}
.banner{
  padding: 8.625rem 0 3rem;
}
.banner .ab-img {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  height: 5rem;
  top: -3rem;
}
.glb-btn {
  padding: 0.6rem 1.075rem !important;
  font-size: 0.9rem;
}
.hm-section1{
  padding: 2rem 0;
}
.hm-section1 h2 {
  margin-bottom: 1.7rem;
}
.hm-section1 .nth-sec {
  margin-top: 1.8375rem;
}
.hm-section1 .nth-sec:nth-child(odd) > div:nth-child(2){
  padding: 0 0.9375rem;
}
.hm-section1 .nth-sec > div:nth-child(2){
  padding: 0 0.9375rem;
}
.hm-section2 {
  padding: 2.25rem 0 1.2rem;
}
.hm-section2 h2 {
  margin-bottom: 1.75rem;
}
.hm-section2 .price-card{
  padding: 1.25rem;
}
.hm-section2 .price-card h3{
  line-height: 0.7rem;
}
.hm-section2 .price-card h3{
  margin-bottom: 1.9rem;
}
.hm-section2 .price-card{
  min-height: auto;
  margin-bottom: 26px;
}
.hm-section2 .price-card a{
  padding: 0.80rem;
}
.hm-section3 {
  padding: 2rem 0 1.25rem;
}
.hm-section3 ul.ico-list li {
  width: 48%;
  margin-bottom: 30px;
}
.hm-section3 h2 {
  margin-bottom: 2.05rem;
}
section.hm-section4{
  padding-top: 0;
}
section.hm-section4 ul li h3 {
  font-size: 1.025rem !important;
}
section.hm-section4 ul li .content p{
  font-size: 0.9rem;
}
section.hm-section4 h2 {
  margin: 0 auto 0.9375rem;
}
section.hm-section4 ul li h3 {
  font-size: 0.925rem !important;
  max-width: 90%;
}
section.hm-section4 ul li {
  padding: 1.0625rem 0;
}
section.hm-section4 ul li::after{
  top: 0.875rem;
}
section.hm-section4 {
  padding: 1.75rem 0;
}
section.hm-section4 {
  padding: 1.75rem 0;
}
section.hm-section4 a.glb-btn {
  margin-top: 1.5rem;
}
footer {
  padding: 1.3125rem 0 0;
}
footer h5{
  font-size: 0.875rem !important;
}
footer ul li{
  font-size: 0.55rem;
}
footer h3{
  font-size: 1.05rem !important;
}
footer .container > .row:last-child h5{
  padding: 0.7rem 0;
}
section.hm-section4{
  padding-top: 0;
}
.hm-section1 h2 {
  margin-bottom: 0.7rem;
}
.hm-section1 h3 > br{
  display: none;
}
.hm-section1 h3 {
  margin-bottom: 0.9rem;
}
.hm-section1 .nth-sec:nth-child(odd) > div:nth-child(2){
  order: 2;
}
.hm-section1 .nth-sec:nth-child(odd) > div:nth-child(1){
  order: 1;
}
.page-ban {
  padding: 1.75rem 0;
}
.compare-plan {
  padding: 2rem 0;
}
.compare-plan h2 {
  margin-bottom: 0rem;
}
.compare-plan .table-sec {
  padding: 2.0625rem 0rem;
}
.plan-card{
  margin-bottom: 1.375rem;
}
.compare-plan table td{
  font-size:0.9875rem;
  padding-bottom: 0.65rem;
  text-align: center;
  padding-bottom: 0.4875rem;

}
.compare-plan .plan-card tr td {
  padding-bottom: 1.0875rem;
}

.contact-section1 h6{
  margin-bottom: 1rem;
}
.contact-section1 {
  padding: 1.75rem 0;
}
.contact-section1 ul.details li,.contact-section1 ul.details li a{
  font-size: 0.9rem;
}
.contact-section1 ul.details {
  margin-bottom: 0.65rem;
}
.contact-section1 p {
  font-size: 1.05rem;
}
.contact-section1 p a{
  font-size: 1rem;
}
.contact-section1 form{
  padding: 1.5rem;
}
.help-center-acc {
  padding: 2rem 0 !important;
}
section.hm-section4 h3 {
  font-size: 1.2rem !important;
  text-align: center;
}
.help-center-acc ul.accordion {
  margin-bottom: 1.75rem;
}
}






@media(min-width:1025px) and (max-width:1400px){
  html{
    font-size: 86.8%;
  }
}