/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6b6b6b;
}
a {
  text-decoration: none;
  display: inline-block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;

  &:hover {
    text-decoration: none;
  }
}

body {
  font-family: "Inter", sans-serif;
}
p {
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  color: #145096;
  margin-bottom: 40px;
}
h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  max-width: 612px;
  color: #09254b;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}
ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.glb-btn {
  background: #145096;
  border-radius: 2px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  padding: 12px 28px;
  font-size: 16px;
  line-height: 24px;
  line-height: 25.6px;
  color: #ffffff;

  &:hover {
    background: #032244;
    color: #fff;
  }
}
.wh-glb-btn {
  background: #fff;
  color: #145096;
}
.bordered-btn {
  border: 1px solid #ffffff;
  border-radius: 2px;
  background: unset;
}
.list {
  li {
    position: relative;
    padding-left: 38px;
    margin-bottom: 12px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #383838;
    &::before {
      content: "";
      height: 24px;
      width: 24px;
      position: absolute;
      left: 0;
      top: 0px;
      background: url("../images/star.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@keyframes sticky {
  0% {
    transform: translate(0, -50%);
  }

  100% {
    transform: translate(0, 0%);
  }
}

@keyframes sticky-reverse {
  0% {
    transform: translate(0, -50%);
  }

  100% {
    transform: translate(0, 0%);
  }
}

header {
  animation: sticky-reverse 0.3s 0s;
  .top-header {
    background: #ffffff;
    padding: 10px 0;
    h6 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #145096;
    }
    .row {
      align-items: center;
    }
  }
  .bottom-header {
    background: #145096;
    .logo-menu-sec {
      display: flex;
      align-items: center;
      .logo-sec {
        margin-right: 60px;
      }
    }
  }
  nav {
    ul {
      display: flex;
      align-items: center;
      li {
        a {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #ffffff;
          padding: 4px 2px;
          margin-right: 29px;
          border-bottom: 1px solid transparent;
          &:hover {
            color: #fff;
            border-bottom: 1px solid #fece54;
          }
        }
      }
    }
  }
  .btn-sec {
    display: flex;
    justify-content: flex-end;
    a.glb-btn {
      margin-left: 20px;
    }
  }
}

header.sticky {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 999;
  animation: sticky 0.3s 0s;
  top: 0;
}

.hm-section7 {
  padding: 80px 0;
  h2 {
    text-align: center;
  }
  h3 {
    text-align: left;
    color: #000000;
    font-size: 32px;
  }
  ul {
    li {
      border-bottom: 1px solid #878787;
      padding: 25px 0;
      cursor: pointer;
      position: relative;
      &::after {
        content: "\f107";
        font-size: 20px;
        font-family: "FontAwesome";
        position: absolute;
        top: 30px;
        right: 8px;
      }
      h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        color: #000000;
        margin: 0;
      }
      .content {
        p {
          text-align: left;
          color: #7b7b7b;
          padding: 13px 0 0px;
          margin: 0;
          font-style: italic;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    li.active {
      &::after {
        content: "\f106";
      }
    }
  }
  a.glb-btn {
    margin-top: 40px;
  }
}

footer {
  background: #145096;
  padding: 53px 0 0;
  position: relative;
  .bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 12px;
  }

  h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    margin: 15px 0 20px;
  }
  ul.social {
    display: flex;
    align-items: center;
    gap: 23px;

    li {
      i {
        font-size: 22px;
        color: #fff;
      }
    }
  }

  a {
    color: #ffffff;
    &:hover {
      color: #003a77;
    }
  }

  ul {
    li {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 12px;
      a {
        color: #fff;
      }
    }
  }
  form {
    position: relative;
    display: flex;
    gap: 7px;
    input:not([type="submit"]) {
      padding: 11px 9px;
      border: 0px;
      width: 100%;
      background: transparent;
      outline: 0px;
      border: 1px solid #ffffff;
      &::placeholder {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        color: #ffffff;
      }
      &:focus {
        outline: none;
      }
    }
    input[type="submit"] {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #145096;
      background: #ffffff;
      border-radius: 2px;
      border: none;
      padding: 14px 28px;
      right: 0;
      top: 0;
      position: absolute;
    }
  }
  h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #222222;
    margin-top: 14px;
    margin-bottom: 0;
  }
  h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #ffffff;
  }
  .copy-right {
    padding: 28px 0;
    margin-top: 48px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    h5 {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.banner-section {
  position: relative;
  .ban-img {
    display: block;
    margin-left: auto;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #ffffff 29.11%, rgba(255, 255, 255, 0) 86.81%);
  }
  .bntx {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h5 {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #292d32;
      margin-bottom: 8px;
    }
    h2 {
      font-weight: 800;
      font-size: 48px;
      line-height: 58px;
      color: #145096;
      margin-bottom: 12px;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #292d32;
    }
    a.glb-btn {
      margin-top: 68px;
    }
  }
}

// !innerpage

.innerbanner {
  position: relative;
  &:before {
    content: "";
    background: linear-gradient(91.78deg, #ffffff -7.3%, rgba(255, 255, 255, 0) 87.21%);
    mix-blend-mode: soft-light;
    position: absolute;
    inset: 0;
    -webkit-clip-path: polygon(0 0, 38% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 25% 0, 95% 100%, 0% 100%);
  }
  img {
    width: 100%;
  }
  .container {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    h2 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;
      /* identical to box height */

      text-align: center;
      text-transform: capitalize;
      margin-bottom: 12px;
      color: #ffffff;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        /* identical to box height, or 112% */
        text-align: center;
        text-transform: capitalize;
        color: #ffffff;
        &:before {
          content: "";
          background: url(../images/right-arrow.svg) no-repeat 0 0;
          width: 24px;
          height: 24px;
          display: inline-block;
          vertical-align: middle;
        }
        &:first-child {
          &:before {
            display: none;
          }
        }
        a {
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          /* identical to box height, or 112% */

          text-align: center;
          text-transform: capitalize;

          color: #ffffff;
        }
      }
    }
  }
}
.btn {
  padding: 12px 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  background: #145096;
  border: 1px solid #145096;
  border-radius: 2px;
  color: #ffffff;
  &:hover {
    background: #fff;
    border-radius: 2px;
    color: #145096;
  }
}
.middle-section {
  padding: 60px 0 80px;
  h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    text-transform: capitalize;
    color: #145096;
    margin-bottom: 40px;
    max-width: 530px;
  }
  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    max-width: 530px;
    color: #6b6b6b;
    margin-bottom: 20px;
  }
  .middle-top {
    margin-bottom: 60px;
    ul {
      li {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #1e1e1e;
        position: relative;
        background: url(../images/listimg.svg) no-repeat 0 0;
        padding: 0 0 20px 30px;
      }
      &.download {
        flex-direction: row;
        display: flex;
        gap: 26px;
        li {
          background-image: none;
          padding-left: 0;
        }
      }
      & + p {
        margin-top: 20px;
      }
    }
    p {
      strong {
        color: black;
      }
    }
    a {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 20px;
      color: #145096;
      img {
        width: 46px;
        margin-right: 16px;
      }
    }
  }
  .middle-list {
    background: #fff4d9;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 80px;
    &.two-col {
      background-color: transparent;
      padding: 0;
      border-radius: 0px;
      .bg {
        background: #fff4d9;
        border-radius: 20px;
        padding: 20px;
        height: 100%;
        ul {
          flex-direction: column;
          max-width: 485px;
          li {
          }
        }
      }
    }
    h4 {
      position: relative;
      font-family: "Inter";
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 22px;
      color: #000000;
      padding-top: 15px;
      &::before {
        content: "";
        width: 31px;
        height: 6px;
        background-color: #fece54;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    ul {
      display: flex;
      gap: 21px 42px;
      flex-wrap: wrap;
      li {
        flex: 1 0 31%;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #1e1e1e;
        padding-left: 33px;
        background: url(../images/listimg.svg) no-repeat 0 0;
        margin-bottom: 0;
      }
    }
  }
  .stillhvqstns {
    padding: 30px 60px 30px 20px;
    background: #f2f3f5;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      /* identical to box height */
      text-transform: capitalize;
      margin-bottom: 12px;
      color: #145096;
    }
    p {
      max-width: inherit;
      margin-bottom: 0;
    }
  }
}
