@charset "UTF-8";
/** @format */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6b6b6b;
}

a {
  text-decoration: none;
  display: inline-block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #000000;
}
a:hover {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

p {
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.625rem;
  color: #145096;
  margin-bottom: 2.5rem;
}

h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.375rem;
  max-width: 38.25rem;
  color: #09254b;
}

h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.glb-btn {
  background: #145096;
  border-radius: 0.125rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  padding: 0.3937rem 1.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 1.6rem;
  color: #ffffff;
}
.glb-btn:hover {
  background: #032244;
  color: #fff;
}

.wh-glb-btn {
  background: #fff;
  color: #145096;
}

.bordered-btn {
  border: 0.0625rem solid #ffffff;
  border-radius: 0.125rem;
  background: unset;
}

.list li {
  position: relative;
  padding-left: 2.375rem;
  margin-bottom: 0.75rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #383838;
}
.list li::before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: 0;
  top: 0rem;
  background: url("../images/star.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes sticky {
  0% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(0, 0%);
  }
}
@keyframes sticky-reverse {
  0% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(0, 0%);
  }
}
header {
  animation: sticky-reverse 0.3s 0s;
}
header .top-header {
  background: #ffffff;
  padding: 0.625rem 0;
}
header .top-header h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #145096;
}
header .top-header .row {
  align-items: center;
}
header .bottom-header {
  background: #145096;
}
header .bottom-header .logo-menu-sec {
  display: flex;
  align-items: center;
}
header .bottom-header .logo-menu-sec .logo-sec {
  margin-right: 3.75rem;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li a {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: center;
  color: #ffffff;
  padding: 0.25rem 0.125rem;
  margin-right: 1.8125rem;
  border-bottom: 0.0625rem solid transparent;
}
header nav ul li a:hover {
  color: #fff;
  border-bottom: 0.0625rem solid #fece54;
}
header .btn-sec {
  display: flex;
  justify-content: flex-end;
}
header .btn-sec a.glb-btn {
  margin-left: 1.25rem;
}

header.sticky {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 999;
  animation: sticky 0.3s 0s;
  top: 0;
}

footer {
  background: #145096;
  padding: 3.3125rem 0 0;
  position: relative;
}
footer .bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
footer h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2.25rem;
  color: #ffffff;
  margin-bottom: 0.75rem;
}
footer h6 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ffffff;
  margin: 0.9375rem 0 1.25rem;
}
footer ul.social {
  display: flex;
  align-items: center;
  gap: 1.4375rem;
}
footer ul.social li i {
  font-size: 1.375rem;
  color: #fff;
}
footer a {
  color: #ffffff;
}
footer a:hover {
  color: #003a77;
}
footer ul li {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-bottom: 0.75rem;
}
footer ul li a {
  color: #fff;
}
footer form {
  position: relative;
  display: flex;
  gap: 0.4375rem;
}
footer form input:not([type=submit]) {
  padding: 0.6875rem 0.5625rem;
  border: 0rem;
  width: 100%;
  background: transparent;
  outline: 0rem;
  border: 0.0625rem solid #ffffff;
}
footer form input:not([type=submit])::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #ffffff;
}
footer form input:not([type=submit])::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #ffffff;
}
footer form input:not([type=submit]):focus {
  outline: none;
}
footer form input[type=submit] {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: center;
  color: #145096;
  background: #ffffff;
  border-radius: 0.125rem;
  border: none;
  padding: 0.875rem 1.75rem;
  right: 0;
  top: 0;
  position: absolute;
}
footer h5 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.0625rem;
  color: #222222;
  margin-top: 0.875rem;
  margin-bottom: 0;
}
footer h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #ffffff;
}
footer .copy-right {
  padding: 1.75rem 0;
  margin-top: 3rem;
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.2);
}
footer .copy-right h5 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.banner-section {
  position: relative;
}
.banner-section .ban-img {
  display: block;
  margin-left: auto;
  width: 80%;
}
.banner-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #ffffff 29.11%, rgba(255, 255, 255, 0) 86.81%);
  -webkit-clip-path: polygon(0 0, 34% 0, 84% 100%, 0% 100%);
          clip-path: polygon(0 0, 34% 0, 84% 100%, 0% 100%);
}
.banner-section .bntx {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-section .bntx h5 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: #292d32;
  margin-bottom: 0.5rem;
  position: relative;
}
.banner-section .bntx h5::before {
  content: "";
  position: absolute;
  top: -0.875rem;
  left: 0;
  height: 0.375rem;
  width: 1.9375rem;
  background: #145096;
}
.banner-section .bntx h2 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.625rem;
  color: #145096;
  margin-bottom: 0.75rem;
}
.banner-section .bntx p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #292d32;
}
.banner-section .bntx a.glb-btn {
  margin-top: 4.25rem;
}

.hm-section1 {
  padding: 5rem 0;
}
.hm-section1 h2 {
  margin-bottom: 1.25rem;
}
.hm-section1 p {
  margin-bottom: 2.5rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6b6b6b;
}

.hm-section2 {
  position: relative;
  padding-bottom: 2.5rem;
}
.hm-section2 .service-card {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}
.hm-section2 .service-card > img {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(12, 41, 80, 0.8);
  height: 100%;
  width: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.hm-section2 .service-card .s-tx {
  position: relative;
  z-index: 3;
  padding: 2.3125rem 1.25rem 1.25rem;
}
.hm-section2 .service-card .s-tx h3 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #ffffff;
  margin-bottom: 1.25rem;
  position: relative;
}
.hm-section2 .service-card .s-tx h3::before {
  content: "";
  position: absolute;
  top: -0.875rem;
  height: 0.375rem;
  width: 1.9375rem;
  background: #fece54;
}
.hm-section2 .service-card .s-tx p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #ffffff;
  margin-bottom: 2.5rem;
  min-height: 6rem;
}
.hm-section2 .service-card .s-tx a {
  display: block;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  color: #ffffff;
  background: #fece54;
  border-radius: 0.125rem;
  text-align: center;
}
.hm-section2 .service-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(12, 41, 80, 0.8);
  height: 100%;
  width: 100%;
  z-index: 2;
}

.image-sec {
  position: relative;
}
.image-sec::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #ffffff 29.11%, rgba(255, 255, 255, 0) 86.81%);
  opacity: 0.35;
  -webkit-clip-path: polygon(0 0, 34% 0, 84% 100%, 0% 100%);
          clip-path: polygon(0 0, 34% 0, 84% 100%, 0% 100%);
}

.hm-section3 {
  padding: 3.75rem 0;
  background: #f2f3f5;
}
.hm-section3 h2 {
  margin-bottom: 2.5rem;
}

.hm-section4 {
  padding: 5rem 0;
}
.hm-section4 h2 {
  margin-bottom: 2.5rem;
}
.hm-section4 .award-box {
  background: #ffffff;
  box-shadow: 0rem 0.25rem 0.875rem rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  padding: 1.75rem 4.0625rem;
}
.hm-section4 .award-box img {
  width: 17.9375rem;
  height: 15.9375rem;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: auto;
}

.hm-section6 {
  padding: 5rem 0;
}
.hm-section6 h2 {
  text-align: center;
  margin-bottom: 2.5rem;
}
.hm-section6 .agent-card {
  background: #f2f3f5;
  border-radius: 1.25rem;
  padding: 6.4375rem 3.75rem 2.5rem;
  position: relative;
  margin-top: 6.25rem;
}
.hm-section6 .agent-card > img {
  display: block;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -6.25rem;
}
.hm-section6 .agent-card .tx {
  text-align: center;
}
.hm-section6 .agent-card .tx .stars {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}
.hm-section6 .agent-card .tx h6 {
  font-style: italic;
  font-weight: 700;
}
.hm-section6 .agent-card .tx p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 1.25rem;
  font-style: italic;
}

.hm-section8 {
  padding: 5rem 0;
}
.hm-section8 h2 {
  text-align: center;
}
.hm-section8 h3 {
  text-align: left;
  color: #000000;
  font-size: 2rem;
}
.hm-section8 ul li {
  border-bottom: 0.0625rem solid #878787;
  padding: 1.5625rem 0;
  cursor: pointer;
  position: relative;
}
.hm-section8 ul li::after {
  content: "\f107";
  font-size: 1.25rem;
  font-family: "FontAwesome";
  position: absolute;
  top: 1.875rem;
  right: 0.5rem;
}
.hm-section8 ul li h3 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: left;
  color: #000000;
  margin: 0;
}
.hm-section8 ul li .content p {
  text-align: left;
  color: #7b7b7b;
  padding: 0.8125rem 0 0rem;
  margin: 0;
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
.hm-section8 ul li.active::after {
  content: "\f106";
}
.hm-section8 a.glb-btn {
  margin-top: 2.5rem;
}

.hm-section7 {
  padding: 3.75rem 0;
  background: #f2f3f5;
}
.hm-section7 h2 {
  margin-bottom: 2.5rem;
  text-align: center;
}
.hm-section7 .article-card .tx {
  padding: 1.25rem 1.25rem 1.6875rem;
  border-radius: 0rem 0rem 0.75rem 0.75rem;
  background: #fff;
}
.hm-section7 .article-card ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.hm-section7 .article-card ul li {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6b6b6b;
}
.hm-section7 .article-card h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: #000000;
  margin-bottom: 0.5rem;
}
.hm-section7 .article-card p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6b6b6b;
  margin-bottom: 0.75rem;
}
.hm-section7 .article-card a {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #292d32;
}

.hm-section5 h2 {
  position: relative;
}
.hm-section5 h2::before {
  content: "";
  position: absolute;
  top: -0.875rem;
  left: 0;
  height: 0.375rem;
  width: 1.9375rem;
  background: #145096;
}

.innerbanner {
  position: relative;
}
.innerbanner:before {
  content: "";
  background: linear-gradient(91.78deg, #ffffff -7.3%, rgba(255, 255, 255, 0) 87.21%);
  mix-blend-mode: soft-light;
  position: absolute;
  inset: 0;
  -webkit-clip-path: polygon(0 0, 38% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 25% 0, 95% 100%, 0% 100%);
}
.innerbanner img {
  width: 100%;
}
.innerbanner .container {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
}
.innerbanner .container h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 2.75rem;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: #ffffff;
}
.innerbanner .container ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerbanner .container ul li {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  /* identical to box height, or 112% */
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
.innerbanner .container ul li:before {
  content: "";
  background: url(../images/right-arrow.svg) no-repeat 0 0;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: middle;
}
.innerbanner .container ul li:first-child:before {
  display: none;
}
.innerbanner .container ul li a {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.125rem;
  /* identical to box height, or 112% */
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.btn {
  padding: 0.75rem 1.75rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  /* identical to box height, or 100% */
  background: #145096;
  border: 0.0625rem solid #145096;
  border-radius: 0.125rem;
  color: #ffffff;
}
.btn:hover {
  background: #fff;
  border-radius: 0.125rem;
  color: #145096;
}
.btn.join-us {
  padding: 0.75rem 4.3125rem;
}

.middle-section {
  padding: 3.75rem 0 5rem;
}
.middle-section h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.625rem;
  text-transform: capitalize;
  color: #145096;
  margin-bottom: 2.5rem;
  max-width: 33.125rem;
}
.middle-section p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  /* or 150% */
  max-width: 33.125rem;
  color: #6b6b6b;
  margin-bottom: 1.25rem;
}
.middle-section .middle-top {
  margin-bottom: 3.75rem;
}
.middle-section .middle-top ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #1e1e1e;
  position: relative;
  background: url(../images/listimg.svg) no-repeat 0 0;
  padding: 0 0 1.25rem 1.875rem;
}
.middle-section .middle-top ul.download {
  flex-direction: row;
  display: flex;
  gap: 1.625rem;
}
.middle-section .middle-top ul.download li {
  background-image: none;
  padding-left: 0;
}
.middle-section .middle-top ul + p {
  margin-top: 1.25rem;
}
.middle-section .middle-top p strong {
  color: black;
}
.middle-section .middle-top a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.25rem;
  border: 1px solid #145096;
  color: #fff;
}
.middle-section .middle-top a:hover {
  color: #145096;
}
.middle-section .middle-top a img {
  width: 2.875rem;
  margin-right: 1rem;
}
.middle-section .middle-list {
  background: #fff4d9;
  border-radius: 1.25rem;
  padding: 1.25rem;
  margin-bottom: 5rem;
}
.middle-section .middle-list.two-col {
  background-color: transparent;
  padding: 0;
  border-radius: 0rem;
}
.middle-section .middle-list.two-col .bg {
  background: #fff4d9;
  border-radius: 1.25rem;
  padding: 1.25rem;
  height: 100%;
}
.middle-section .middle-list.two-col .bg ul {
  flex-direction: column;
  max-width: 30.3125rem;
}
.middle-section .middle-list h4 {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.375rem;
  color: #000000;
  padding-top: 0.9375rem;
}
.middle-section .middle-list h4::before {
  content: "";
  width: 1.9375rem;
  height: 0.375rem;
  background-color: #fece54;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.middle-section .middle-list ul {
  display: flex;
  gap: 1.3125rem 2.625rem;
  flex-wrap: wrap;
}
.middle-section .middle-list ul li {
  flex: 1 0 31%;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: #1e1e1e;
  padding-left: 2.0625rem;
  background: url(../images/listimg.svg) no-repeat 0 0;
  margin-bottom: 0;
}
.middle-section .stillhvqstns {
  padding: 1.875rem 3.75rem 1.875rem 1.25rem;
  background: #f2f3f5;
  border-radius: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle-section .stillhvqstns h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4375rem;
  /* identical to box height */
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: #145096;
}
.middle-section .stillhvqstns p {
  max-width: inherit;
  margin-bottom: 0;
}

.contact-us textarea {
  height: 4.8125rem;
  border: 0.0625rem solid #878787;
  padding: 0.625rem 0.9375rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #878787;
  resize: none;
}
.contact-us .map-area {
  height: 27.875rem;
  border-radius: 0.75rem;
  overflow: hidden;
  margin-bottom: 5rem;
}
.contact-us .map-area iframe {
  width: 100% !important;
  height: 100% !important;
}
.contact-us label {
  display: block;
  margin-bottom: 1.25rem;
}
.contact-us h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  /* identical to box height */
  color: #292d32;
  margin-bottom: 2rem;
}
.contact-us h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  /* identical to box height, or 138% */
  color: #1e1e1e;
  margin-bottom: 0.75rem;
}
.contact-us .contactwrap {
  position: relative;
  margin-bottom: 1.875rem;
}
.contact-us .contactwrap label {
  position: absolute;
  top: -0.6875rem;
  left: 0.75rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #878787;
  background-color: white;
  padding: 0 0.4375rem;
  margin-bottom: 0;
}
.contact-us input:not([type=submit]) {
  border: 0.0625rem solid #878787;
  padding: 0.625rem 0.9375rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #878787;
}
.contact-us input[type=checkbox] {
  width: auto;
  margin: 0 0.5rem 0 0;
}
.contact-us input[type=submit] {
  margin-top: 1.25rem;
}
.contact-us .drop-zone {
  max-width: 100%;
  width: 100%;
  height: 8.625rem;
  padding: 1.5625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
  cursor: pointer;
  color: #cccccc;
  background: rgba(12, 41, 80, 0.05);
  /* Brand */
  border: 0.0625rem dashed #0c2950;
  border-radius: 0.625rem;
  text-align: center;
  margin-bottom: 1.25rem;
}
.contact-us .drop-zone img {
  display: block;
  width: 1.5rem;
  margin: 0 auto 0.75rem;
}
.contact-us .drop-zone__prompt {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  /* identical to box height */
  color: #a8a8a8;
}
.contact-us .drop-zone__prompt span {
  color: #00a1e8;
}
.contact-us .drop-zone--over {
  border-style: solid;
}
.contact-us .drop-zone__input {
  display: none;
}
.contact-us .drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}
.contact-us .drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.3125rem 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 0.875rem;
  text-align: center;
}

.contact-top {
  margin-bottom: 5rem;
}

.contactright {
  padding: 0 0 0 7.5rem;
  position: relative;
}
.contactright:before {
  content: "";
  height: 19.75rem;
  top: 50%;
  transform: translateY(-50%);
  left: 3.125rem;
  display: block;
  position: absolute;
  width: 0.0625rem;
  background-color: #d9d9d9;
}
.contactright h4 {
  margin-bottom: 0.75rem;
}
.contactright ul {
  margin-bottom: 5rem;
}
.contactright ul:last-child {
  margin-bottom: 0;
}
.contactright ul li {
  margin-bottom: 1.25rem;
}
.contactright ul li a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #145096;
}

.join-us .contact-top {
  margin-bottom: 0;
}

.diff-top {
  padding: 2.9375rem 0 5rem;
}
.diff-top h2 {
  margin-bottom: 2.5rem;
}
.diff-top p {
  margin-bottom: 1.25rem;
}
.diff-top strong {
  color: #000000;
}
.diff-top ul {
  max-width: 33.125rem;
}
.diff-top ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: #1e1e1e;
  margin-bottom: 1.125rem;
  padding-left: 2.0625rem;
  background: url(../images/listimg.svg) no-repeat 0 0;
}

.testi {
  padding: 2.5rem 5rem;
  margin-bottom: 5rem;
  background: #f2f3f5;
  border-radius: 1.25rem;
}
.testi p {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.875rem;
  /* or 150% */
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 1.75rem;
}
.testi h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  color: #145096;
  margin-bottom: 0;
}

.withbg {
  background-size: cover !important;
  padding: 2.5rem 0;
}
.withbg h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.75rem;
  /* or 138% */
  margin-bottom: 0;
  text-align: center;
  text-transform: capitalize;
  max-width: 54.0625rem;
  margin: 0 auto;
  color: #ffffff;
}

.tech-solution {
  padding: 5rem 0;
}
.tech-solution h2 {
  text-align: center;
  margin-bottom: 1.25rem;
}
.tech-solution p {
  max-width: 68.0625rem;
  margin: 0 auto 3.75rem;
  text-align: center;
}

.techgrid .col-md-4,
.techgrid .col-md-8 {
  margin-bottom: 1.25rem;
}
.techgrid .techgrid-item {
  background: #fff4d9;
  border-radius: 1.25rem;
  padding: 1.25rem;
  height: 100%;
}
.techgrid .techgrid-item h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #000000;
  position: relative;
  padding-top: 1rem;
  margin-bottom: 1.25rem;
}
.techgrid .techgrid-item h3:before {
  content: "";
  position: absolute;
  width: 1.9375rem;
  height: 0.375rem;
  left: 0;
  top: 0;
  background: #fece54;
}
.techgrid .techgrid-item p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  /* or 150% */
  margin-bottom: 0;
  color: #6b6b6b;
  text-align: left;
  max-width: inherit;
}

.monthly-support {
  padding-bottom: 2.5rem;
}
.monthly-support h2 {
  text-align: center;
  margin-bottom: 1.25rem;
}
.monthly-support ul {
  display: flex;
  justify-content: center;
  gap: 0.3125rem;
  margin-bottom: 3.75rem;
}
.monthly-support ul li {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  /* identical to box height, or 150% */
  text-align: center;
  color: #6b6b6b;
}
.monthly-support ul li:before {
  content: "•";
  margin-right: 0.3125rem;
}

.tech-supp {
  padding-bottom: 5rem;
}
.tech-supp .row-rev {
  flex-direction: row-reverse;
}
.tech-supp .w530 {
  max-width: 33.125rem;
}
.tech-supp .w530 p {
  margin-bottom: 1.25rem;
}
.tech-supp .w530 p strong {
  color: #000000;
}
.tech-supp .w530 ul {
  max-width: 33.125rem;
}
.tech-supp .w530 ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: #1e1e1e;
  margin-bottom: 1.125rem;
  padding-left: 2.0625rem;
  background: url(../images/listimg.svg) no-repeat 0 0;
}
.tech-supp h2 {
  margin-bottom: 2.5rem;
}

.tailored-marketing {
  padding-bottom: 5rem;
}
.tailored-marketing h2 {
  text-align: center;
  margin-bottom: 1.25rem;
}
.tailored-marketing p {
  max-width: 68.0625rem;
  margin: 0 auto 3.75rem;
  text-align: center;
}
.tailored-marketing .col-md-6 {
  margin-top: 1.25rem;
}
.tailored-marketing .col-md-6:nth-child(1), .tailored-marketing .col-md-6:nth-child(2) {
  margin-top: 0;
}

.booknow .contactwrap {
  position: relative;
  margin-bottom: 1.875rem;
}
.booknow .contactwrap label {
  position: absolute;
  top: -0.6875rem;
  left: 0.75rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #878787;
  background-color: white;
  padding: 0 0.4375rem;
  margin-bottom: 0;
}
.booknow input:not([type=submit]) {
  border: 0.0625rem solid #878787;
  padding: 0.625rem 0.9375rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #878787;
}
.booknow input[type=checkbox] {
  width: auto;
  margin: 0 0.5rem 0 0;
}/*# sourceMappingURL=style.css.map */